                /* LOCATION NORMALIZE :) */

body {
    width: 99.1vw;
    height: 99.1vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
}
input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
.container {
    box-sizing: border-box;
    padding-left: 15px;
    margin: 0 auto;
    background:#17212b;
    width: 100%;
    height: 100%;
    /*width: 810px;*/
    /*height: 430px;*/
    display: flex;
}
.info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 100%;
    padding-right: 23px;
}
.info-block__controls {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
}
.info-block__gamburger {
    position: relative;
    min-width: 18px;
    height: 2px;
    background-color: #6c7883;
    margin-right: 10px;
}
.info-block__gamburger::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    min-width: 18px;
    height: 2px;
    background-color: #6c7883;
}
.info-block__gamburger::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    min-width: 18px;
    height: 2px;
    background-color: #6c7883;
}
.info-block__search {
    width: 195px;
    height: 32px;
    background-color: #242f3d;
    border-radius: 3px;
    padding: 0 10px;
    color: #6c7883;
}
.info-block__user-list {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

                    /* STYLE SCROLLBAR */


.info-block__user-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.info-block__user-list::-webkit-scrollbar
{
    width: 4px;
    border-radius: 10px;
	background-color: #F5F5F5;
}

.info-block__user-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
/**/
.chat::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.chat::-webkit-scrollbar
{
    width: 0px;
    border-radius: 10px;
	background-color: #F5F5F5;
}

.chat::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

                /*  DYNAMIC USER-ITEM */

.info-block__user-item {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 13px;
}
.info-block__user-avatar {
    min-width: 46px;
    min-height: 100%;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.info-block__user-data {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 12px;
}
.info-block__user-data {
    height: 100%;
}
.info-block__user-name {
    color: #fff;
    margin-bottom: 5px;
    
}
.info-block__user-lastMassege {
    color: #7f91a4;
}

                        /* RIGHT-BLOCK STYLE */

.chat-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}     
.chat-block__headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 67px;
    width: 100%;
    padding-left: 10px;
    border-left: 1px #0e1621 solid;

}
.chat-block__title {
    color: #fff;
    margin-bottom: 5px;
    
}
.chat-block__user-quantity {
    color: #7f91a4;
}

                        /* CHAT STYLE   */

.chat {
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    background-color:#0e1621;
    padding: 22px 10px;
    overflow: hidden;
}
.chat:hover {
    overflow: auto;
}
                        /* SUBMIT STYLE */


.chat-block__submit {
    box-sizing: border-box;
    border-left: 1px #0e1621 solid;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.chat-block__textarea {
    resize: none;
    box-sizing: border-box;
    padding: 5px 8px;
    height: 30px;
    width: 80%;
    background:#17212b;
    border: none;
    outline: none;
    color: #7f91a4;
}
.chat-block__textarea::placeholder {
    color: #7f91a4;
    font-family: 'Ubuntu', sans-serif;
}

.chat-block__submit-button {
    background-color: #5288c1;
    padding: 5px 20px;
    border-radius: 3px;
    color: #fff;
}

                /* MESSAGE DIALOGUE-WINDOW */

.chat-user {
    display: flex;
    min-height: 33px;
    margin-left: auto;
    margin-right: 0;
}
.chat-user__avatar {
    min-width: 33px;
    min-height: 33px;
    max-height: 33px;
    border-radius: 50%;
    background-image: url(../img/no-image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;

}
.chat-message {
    display: table;
    position: relative;
    box-sizing: border-box;
    padding: 6px 45px 5px 17px;
    background-color:#182533;
    border-radius: 3px;
    max-width: 440px;
    min-height: 33px;
    margin-bottom: 5px;
}
.chat-message__text {
    text-align: start;
    color: #eaeaeb;
    font-size: 12px;
    word-wrap: break-word;
}
.chat-message__time {
    position: absolute;
    bottom: 4px;
    right: 7px;
    color: #7a8c9e;
    font-size: 12px;
}
.chat-user_me {
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.chat-user_me .chat-message {
    background-color: #2b5278;
    margin-right: 0;
    margin-left: auto;
}
.chat-user_me .chat-user__avatar{
    margin-right: 0;
    margin-left: 5px;
}

                /* AUTORIZATION MODAL */

.autorization {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 515px;
    height: 550px;
    background-color: #17212b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10px;
}
.autorization-close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.autorization-close__btn {
    position: relative;
    min-width: 20px;
    height: 2px;
    background-color: #6c7883;
    transform: rotate(45deg);
}
.autorization-close__btn::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    transform: rotate(90deg);
    min-width: 20px;
    height: 2px;
    background-color: #6c7883;
}
.file-box {
    cursor: pointer;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: url(../img/Screenshot.png) center center / cover no-repeat;
}
.file-box__upload {
    display: none;
}
.autorization__headline {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.autorization__title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.autorization__descript {
    width: 300px;
    color: #758698;
}
.input-name {
    width: 300px;
    height: 40px;
    background-color: #17212b;
    border-bottom: 1px #758698 solid;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.input-name:focus {
    border-bottom: 1px #5288c1 solid;
}
.input-nick {
    width: 300px;
    height: 40px;
    background-color: #17212b;
    border-bottom: 1px #758698 solid;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.input-nick:focus {
    border-bottom: 1px #5288c1 solid;
}
.autorization__submit-button {
    padding: 12px 40px;
    background-color: #5288c1;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

                    /* DOWNLOAD PHOTO */
        
.photo-download {
    box-sizing: border-box;
    width: 365px;
    height: 450px;
    background-color: #17212b;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 40px 20px 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.photo-download__main {
    width: 100%;
    height: 68.9%;  
    border-radius: 50%; 
    background-image: url(../img/no-image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.photo-download__subtitle {
    color: #758698;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    
}
.photo-download__btn-cancel {
    color: #5288c1;
    font-weight: bold;
    background: none;
    font-size: 16px;
    margin-right: 15px;
}
.photo-download__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.photo-download__btn-save {
    color: #5288c1;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    background-color: rgba(82, 136, 193, 0.1);
    
}
.photo-download__upload {
    display: none;
}

                /* OPEN INFO-USER */

.user-info {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 160px;
    background-color:#17212b;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

}
.user-info__title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.user-info__block {
    display: flex;
    align-items: center;
    width: 100%;
}
.user-info__img {
    width: 75px;
    min-height: 75px;
    border-radius: 50%; 
    margin-right: 15px;
    background-image: url(../img/no-image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.user-info__desc {
    display: flex;
    flex-direction: column;
}
.user-info__status {
    color: #5288c1;
    font-size: 12px;
    font-weight: bold;
}
.user-info__name {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.user-info__close {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.close-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.user-info__close::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    transform: rotate(45deg);
    min-width: 20px;
    height: 2px;
    background-color: #6c7883;
}
.user-info__close::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    transform: rotate(135deg);
    min-width: 20px;
    height: 2px;
    background-color: #6c7883;
}